<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Motoristas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/62178003c7.js" crossorigin="anonymous"></script>
</head>
<body class="no-transition">

    <nav id="sidenav" class="sidenav">
        <div>
            <a th:href="@{/index}" class="logo-link">
                <span class="logo">IntegraPorto</span>
            </a>

            <div class="sidenav-item">
                <a class="sidenav-dropdown-toggle">
                    <i class="fa-solid fa-address-card"></i>
                    <span>Cadastros</span>
                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                </a>
                <div class="submenu-container">
                    <a th:href="@{/cadastromotorista}" class="submenu-link">Motoristas</a>
                    <a th:href="@{/cadastrotrabalho}" class="submenu-link">Trabalhos</a>
                </div>
            </div>

            <div class="sidenav-item">
                <a class="sidenav-dropdown-toggle">
                    <i class="fa-solid fa-list"></i>
                    <span>Serviços</span>
                    <i class="fa-solid fa-chevron-down dropdown-icon"></i>
                </a>
                <div class="submenu-container">
                    <a th:href="@{/emandamento}" class="submenu-link">Em Andamento</a>
                    <a th:href="@{/concluidos}" class="submenu-link">Concluídos</a>
                </div>
            </div>

            </div>

        <form th:action="@{/logout}" method="post" class="icon-exit">
            <button type="submit" class="logout-btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Sair</span>
            </button>
        </form>
    </nav>
    
    <main id="main-content" class="main-content">
        <button id="toggle-btn" class="control-btn toggle-btn">
            <i class="material-icons">menu</i>
        </button>
        <button id="theme-toggle" class="control-btn theme-toggle">
            <i class="material-icons">dark_mode</i>
        </button>

        <header>
            <h1>Painel de Cadastro de Motoristas</h1>
            <p>Gerencie e mantenha atualizados os dados de todos os motoristas registrados no sistema.</p>
            <div id="modal-sucesso" class="modal-sucesso toast-sucesso">
                <i class="fas fa-check-circle"></i> Motorista inserido com sucesso!
            </div>
        </header>

        <section>
            <div class="header-section">
                <h2>Motoristas Cadastrados</h2>
                <button id="btn-novo-cadastro" class="btn-adicionar">
                    <i class="fa-solid fa-plus"></i> Adicionar
                </button>
            </div>
            
            <div class="container-tabela">
                <table class="tabela">
                    <thead>
                        <tr>
                            <th>VAGA</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>CNH</th>
                            <th>Placa Caminhão</th>
                            <th>Placa Carreta</th>
                            <th>Celular 1</th>
                            <th>Celular 2</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="motorista: ${motoristas}">
                            <td th:text="${motorista.vaga}"></td>
                            <td th:text="${motorista.nome}"></td>
                            <td th:text="${#strings.substring(motorista.cpf, 0, 3) + '.' + #strings.substring(motorista.cpf, 3, 6) + '.' + #strings.substring(motorista.cpf, 6, 9) + '-' + #strings.substring(motorista.cpf, 9, 11)}"></td>
                            <td th:text="${motorista.cnh}"></td>
                            <td th:text="${#strings.substring(motorista.placaCaminhao, 0, 3) + '-' + #strings.substring(motorista.placaCaminhao, 3, 7)}"></td>
                            <td th:text="${#strings.substring(motorista.placaCarreta, 0, 3) + '-' + #strings.substring(motorista.placaCarreta, 3, 7)}"></td>
                            <td th:text="${'(' + #strings.substring(motorista.celular1, 0, 2) + ') ' + #strings.substring(motorista.celular1, 2, 7) + '-' + #strings.substring(motorista.celular1, 7, 11)}"></td>
                            <td th:if="${motorista.celular2 != null and motorista.celular2 != ''}" th:text="${'(' + #strings.substring(motorista.celular2, 0, 2) + ') ' + #strings.substring(motorista.celular2, 2, 7) + '-' + #strings.substring(motorista.celular2, 7, 11)}"></td><td th:unless="${motorista.celular2 != null and motorista.celular2 != ''}">-</td>
                            <td>
                                <button class="btn-editar" th:data-id="${motorista.id}"><i class="fa-solid fa-pen"></i></button>
                                <button class="btn-excluir" th:data-id="${motorista.id}"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <div id="modalGeral" class="modal">
        <div class="container-modal">
            <span class="close-button">&times;</span>
            <h2 id="modal-title"></h2>
            <form id="formDados" method="post">
                <input type="hidden" id="id" name="id">

                <div class="form-group">
                    <label for="vaga">Vaga:</label>
                    <input type="number" id="vaga" name="vaga" required>
                </div>
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" class="atualizar-valor-cpf" name="cpf" required>
                    <span id="cpf-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="cnh">CNH:</label>
                    <input type="text" id="cnh" name="cnh" required>
                    <span id="cnh-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="placaCaminhao">Placa Caminhão:</label>
                    <input type="text" id="placaCaminhao" name="placaCaminhao" required>
                    <span id="placaCaminhao-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="placaCarreta">Placa Carreta:</label>
                    <input type="text" id="placaCarreta" name="placaCarreta" required>
                    <span id="placaCarreta-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="celular1">Celular 1:</label>
                    <input type="text" id="celular1" name="celular1" required>
                    <span id="celular1-error" class="error-message"></span>
                </div>
                <div class="form-group">
                    <label for="celular2">Celular 2 (Opcional):</label>
                    <input type="text" id="celular2" name="celular2">
                    <span id="celular2-error" class="error-message"></span>
                </div>

                <div class="modal-buttons">
                    <button type="submit" class="confirm">Salvar</button>
                    <button type="button" class="cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    
    <div id="deleteModal" class="modal">
        <div class="container-modal" id="container-modal-delete">
            <span class="close-button">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>Você tem certeza que deseja excluir este motorista?</p>
            <div class="modal-buttons">
                <button id="confirmDelete" class="confirm">Sim, Excluir</button>
                <button class="cancel">Não</button>
            </div>
        </div>
    </div>

    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/modais.js}"></script>
    <script th:src="@{/js/copiar.js}"></script>
    <script th:src="@{/js/formatarMotorista.js}"></script>


</body>
</html>